<nz-layout class="stash-container">
  <nz-header>
    <span class="">stash</span><span class="spacer"> </span><span class="actions"><ng-container
    *ngIf="user | async as user">{{user.email}}</ng-container></span>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="content-container">
      <nz-sider [nzWidth]="350">
        <ng-container *ngIf="things | async as things">
          <app-thing-list [(things)]="things.things"></app-thing-list>
        </ng-container>
      </nz-sider>
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-content>
  <nz-footer>
    <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
  </nz-footer>

</nz-layout>
