<nz-layout>
  <app-attributes-header >
    <app-stash-button
      size="small"
      icon="plus"
      content="add attribute"
      (onClick)="createModal(tplTitle, tplContent, createInstanceFooterTemplate, null)" />
  </app-attributes-header>
  <nz-table class="attribute-table" #attributeTable [nzData]="attributes" [nzSize]="'small'">
    <thead>
    <tr>
      <th>Key</th>
      <th nzWidth="250px">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let attribute of attributeTable.data" class="editable-row">
      <td>
        <a nz-button [nzSize]="'small'" nzType="link" (click)="createModal(tplTitle, tplContent, tplFooter, attribute)">{{ attribute.key }}</a>
      </td>
      <td>
        {{ attribute.value }}
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>


<ng-template #tplTitle>{{modalTitle}}</ng-template>

<ng-template #tplContent let-params>

  <form nz-form [formGroup]="createOrUpdateAttributeForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="key">Key</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="key"
          type="text" />
      </nz-form-control>
    </nz-form-item>
     <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="value">Value</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="value"
            type="text" />
        </nz-form-control>
      </nz-form-item>
  </form>



</ng-template>

<ng-template #tplFooter let-ref="modalRef">
  <app-stash-button
    style="float: left"
    icon="delete"
    nz-popconfirm
    nzPopconfirmTitle="Sure to delete?"
    (nzOnConfirm)="deleteAttribute(ref)"
    [loading] = "tplModalButtonLoading"/>
  <app-stash-button
    content="cancel"
    (onClick)="destroyTplModal(ref)"/>
  <app-stash-button
    icon="save"
    content="save"
    [loading] = "tplModalButtonLoading"
    (onClick)="updateAttribute(ref)"/>
</ng-template>

<ng-template #createInstanceFooterTemplate let-ref="modalRef">
  <app-stash-button
    content="cancel"
    (onClick)="destroyTplModal(ref)"/>
  <app-stash-button
    icon="save"
    content="save"
    [loading] = "tplModalButtonLoading"
    (onClick)="createAttribute(ref)"/>
</ng-template>
