<nz-table #editRowTable nzBordered [nzData]="attributes">
  <thead>
  <tr>
    <th nzWidth="30%">Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data" class="editable-row">
    <td>
      <div class="editable-cell" [hidden]="editId === data.key" (click)="startEdit(data.key)">
        {{ data.key }}
      </div>
      <input [hidden]="editId !== data.value" type="text" nz-input [(ngModel)]="data.value" (blur)="stopEdit()" />
    </td>
    <td>
      <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data.key)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
