<nz-layout>
  <stash-header >
    <button
      nz-button
      nzType="default"
      [nzSize]="'small'"
      nzShape="circle"
      nz-popover
      (nzPopoverVisibleChange)="change($event)"
      [(nzPopoverVisible)]="visible"
      [nzPopoverContent]="contentTemplate"
      nzPopoverTrigger="click">
      <span nz-icon nzType="file-add" nzTheme="outline"></span>
  </button>
  </stash-header>
  <nz-content class="tab-content">
    <div class="tab-container">
  <nz-table class="attribute-table" #editRowTable [nzData]="thing?.attributes ?? []" [nzSize]="'small'" [nzFrontPagination]="false">
    <thead>
    <tr style="display: none">
      <th nzLeft></th>

      <th nzRight nzWidth="150px"></th>
      <th nzRight nzWidth="30px" ></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data" class="editable-row">
      <td>
        <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data)">
          {{ data.key }}
        </div>
        <input [hidden]="editId !== data._id" type="text" nz-input [(ngModel)]="key" (blur)="stopEdit(data)" />
      </td>
      <td>
        <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data)">
          {{ data.value }}
        </div>
        <input [hidden]="editId !== data._id" type="text" nz-input [(ngModel)]="value" (blur)="stopEdit(data)" />
      </td>
      <td class="action-cell">
        <button nz-button nzType="default"  nzDanger [nzSize]="'small'" nzShape="circle" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteAttribute(data._id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
    </div>
  </nz-content>
</nz-layout>


  <ng-template #contentTemplate>
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="saveAttribute()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="key" nz-input placeholder="Key" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="value" nz-input placeholder="Value" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" >Save</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
