<nz-layout>
  <stash-header>
    things
  </stash-header>
  <stash-header [title]="'things'">
    <app-stash-button
      icon="plus"
      content="thing"
      [size]="'small'"
      [loading] = "tplModalButtonLoading"
      (onClick)="createCreateThingModal(createThingModalTitle, createThingModalContent, createThingModalFooter)"/>
    <app-stash-button
      icon="plus"
      content="category"
      [size]="'small'"
      [loading] = "tplModalButtonLoading"
      (onClick)="createCreateCategoryModal(createCategoryModalTitle, createCategoryModalContent, createCategoryModalFooter)"/>
  </stash-header>

  <div class="thing-list-container">

    <nz-tree
      nzDraggable
      (nzOnDrop)="onDrop($event)"
      nzBlockNode
      [nzData]="nodes"
      (nzClick)="activeNode($event)"
      (nzDblClick)="openFolder($event)"
      (nzExpandChange)="onExpandChange($event)"
      [nzExpandedKeys]="expandedNodes"
      [nzTreeTemplate]="nzTreeTemplate"
    ></nz-tree>
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node" [attr.draggable]="!!node.isLeaf">
        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, categoryContextMenu)">
          <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></span>
          <span class="folder-name" style="margin-left: 10px">{{ node.title }}</span>
        </span>
        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, thingContextMenu)" (click)="openThing(node.key)">
          <span nz-icon nzType="file"></span>
          <span class="file-name" style="margin-left: 10px">{{ node.title }}</span>
        </span>
      </span>
      <nz-dropdown-menu #categoryContextMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="createEditCategoryModal(editCategoryModalTitle, editCategoryModalContent, editCategoryModalFooter, node)">Edit</li>
          <li nz-menu-item (click)="deleteCategory(node, undefined)">Delete</li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #thingContextMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="selectDropdown()">Edit</li>
          <li nz-menu-item (click)="deleteThing(node.key)">Delete</li>
        </ul>
      </nz-dropdown-menu>
      <ng-template #editCategoryModalTitle>Edit Category</ng-template>

      <ng-template #editCategoryModalContent let-params>

        <form nz-form [formGroup]="createOrUpdateCategoryForm">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                formControlName="name"
                type="text" />
            </nz-form-control>
          </nz-form-item>
        </form>



      </ng-template>

      <ng-template #editCategoryModalFooter let-ref="modalRef">
        <app-stash-button
          style="float: left"
          icon="delete"
          nz-popconfirm
          nzPopconfirmTitle="Sure to delete?"
          (nzOnConfirm)="deleteCategory(node, ref)"
          [loading] = "tplModalButtonLoading"/>
        <app-stash-button
          content="cancel"
          (onClick)="destroyTplModal(ref)"/>
        <app-stash-button
          icon="save"
          content="save"
          [loading] = "tplModalButtonLoading"
          (onClick)="updateCategory(node, ref)"/>
      </ng-template>

    </ng-template>
  </div>
</nz-layout>


  <ng-template #contentTemplate>
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group>
            <input formControlName="name" nz-input placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" >Save</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>


<ng-template #createThingModalTitle>{{modalTitle}}</ng-template>

<ng-template #createThingModalContent let-params>

  <form nz-form [formGroup]="createOrUpdateThingForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="name"
          type="text" />
      </nz-form-control>
    </nz-form-item>
  </form>



</ng-template>

<ng-template #createThingModalFooter let-ref="modalRef">
  <app-stash-button
    style="float: left"
    icon="delete"
    nz-popconfirm
    nzPopconfirmTitle="Sure to delete?"
    (nzOnConfirm)="deleteThing(ref)"
    [loading] = "tplModalButtonLoading"/>
  <app-stash-button
    content="cancel"
    (onClick)="destroyTplModal(ref)"/>
  <app-stash-button
    icon="save"
    content="save"
    [loading] = "tplModalButtonLoading"
    (onClick)="createThing(ref)"/>
</ng-template>



<ng-template #createCategoryModalTitle>Create Category</ng-template>

<ng-template #createCategoryModalContent let-params>

  <form nz-form [formGroup]="createOrUpdateCategoryForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="name"
          type="text" />
      </nz-form-control>
    </nz-form-item>
  </form>



</ng-template>

<ng-template #createCategoryModalFooter let-ref="modalRef">
  <app-stash-button
    content="cancel"
    (onClick)="destroyTplModal(ref)"/>
  <app-stash-button
    icon="save"
    content="save"
    [loading] = "tplModalButtonLoading"
    (onClick)="createCategory(ref)"/>
</ng-template>
