<nz-layout>
  <stash-header>
    things
  </stash-header>
  <stash-header [title]="'things'">
    <app-stash-button
      icon="plus"
      content="add thing"
      [size]="'small'"
      [loading] = "tplModalButtonLoading"
      (onClick)="createCreateThingModal(createThingModalTitle, createThingModalContent, createThingModalFooter)"/>
  </stash-header>
  <div class="thing-list-container">

    <nz-tree
      nzBlockNode
      [nzData]="nodes"
      (nzClick)="activeNode($event)"
      (nzDblClick)="openFolder($event)"
      (nzExpandChange)="onExpandChange($event)"
      [nzExpandedKeys]="expandedNodes"
      [nzTreeTemplate]="nzTreeTemplate"
    ></nz-tree>
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node">
        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, categoryContextMenu)">
          <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></span>
          <span class="folder-name" style="margin-left: 10px">{{ node.title }}</span>
        </span>
        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, thingContextMenu)" (click)="openThing(node.key)">
          <span nz-icon nzType="file"></span>
          <span class="file-name" style="margin-left: 10px">{{ node.title }}</span>
        </span>
      </span>
      <nz-dropdown-menu #categoryContextMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="selectDropdown()">Edit</li>
          <li nz-menu-item (click)="selectDropdown()">Delete</li>
        </ul>
      </nz-dropdown-menu>
      <nz-dropdown-menu #thingContextMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="selectDropdown()">Edit</li>
          <li nz-menu-item (click)="deleteThing(node.key)">Delete</li>
        </ul>
      </nz-dropdown-menu>
    </ng-template>


    <!--
<nz-table #expandTable [nzData]="nodes" nzTableLayout="fixed" [nzSize]="'small'" [nzShowPagination]="false">
  <thead>
  <tr style="display: none">
    <th nzLeft></th>
    <th nzRight nzWidth="30px" ></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of nodesMap[data.key]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent" (contextmenu)="contextMenu($event, menu)">
        <td
          [nzIndentSize]="item.level! * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(nodesMap[data.key], item, $event)"
          (click)="openThing(item)"
        >
          <span nz-icon nzType="{{item.icon}}" nzTheme="outline" style="margin-right: 8px"></span>{{ item.name }}
        </td>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="createModal(tplTitle, tplContent, tplFooter, item)">Edit</li>
            <li nz-menu-item>Copy Url</li>
            <li nz-menu-item (click)="deleteThing(item.key)">Delete</li>
          </ul>
        </nz-dropdown-menu>

        <ng-template #tplTitle>{{modalTitle}}</ng-template>

        <ng-template #tplContent let-params>

          <form nz-form [formGroup]="createOrUpdateThingForm">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  formControlName="name"
                  type="text" />
              </nz-form-control>
            </nz-form-item>
          </form>



        </ng-template>

        <ng-template #tplFooter let-ref="modalRef">
          <app-stash-button
            style="float: left"
            icon="delete"
            nz-popconfirm
            nzPopconfirmTitle="Sure to delete?"

            [loading] = "tplModalButtonLoading"/>
          <app-stash-button
            content="cancel"
            (onClick)="destroyTplModal(ref)"/>
          <app-stash-button
            icon="save"
            content="save"
            [loading] = "tplModalButtonLoading"
            (onClick)="updateThing(item, ref)"/>
        </ng-template>

        <ng-template #createInstanceFooterTemplate let-ref="modalRef">
          <app-stash-button
            content="cancel"
            (onClick)="destroyTplModal(ref)"/>
          <app-stash-button
            icon="save"
            content="save"
            [loading] = "tplModalButtonLoading"
            (onClick)="createThing(ref)"/>
        </ng-template>


      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
-->
  </div>
</nz-layout>


  <ng-template #contentTemplate>
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group>
            <input formControlName="name" nz-input placeholder="Name" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" >Save</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>


<ng-template #createThingModalTitle>{{modalTitle}}</ng-template>

<ng-template #createThingModalContent let-params>

  <form nz-form [formGroup]="createOrUpdateThingForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="name"
          type="text" />
      </nz-form-control>
    </nz-form-item>
  </form>



</ng-template>

<ng-template #createThingModalFooter let-ref="modalRef">
  <app-stash-button
    style="float: left"
    icon="delete"
    nz-popconfirm
    nzPopconfirmTitle="Sure to delete?"
    (nzOnConfirm)="deleteThing(ref)"
    [loading] = "tplModalButtonLoading"/>
  <app-stash-button
    content="cancel"
    (onClick)="destroyTplModal(ref)"/>
  <app-stash-button
    icon="save"
    content="save"
    [loading] = "tplModalButtonLoading"
    (onClick)="createThing(ref)"/>
</ng-template>

