 <nz-layout>
   <stash-header>

   </stash-header>

  <nz-table class="attribute-table" #instanceTable [nzData]="instances" [nzSize]="'small'">
    <thead>
    <tr style="display: none">
      <th nzLeft></th>

      <th nzRight nzWidth="150px"></th>
      <th nzRight nzWidth="30px" ></th>
      <th nzWidth="200px" ></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instance of instanceTable.data" class="editable-row">
      <td>
        {{ instance.name }}
      </td>
      <td>
        {{ instance.thing?.name ?? ''}}
      </td>
      <td>
        <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
      </td>
      <td nzAlign="right">
        <button nz-button [nzType]="'primary'" nzGhost [nzSize]="'small'" nzShape="circle" (click)="showModal(instance)">        <span nz-icon nzType="edit" nzTheme="outline"></span></button>

      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>
<app-edit-instance [(isVisible)]="visible" [thing]="thing" [things]="things" [instance]="editingInstance"></app-edit-instance>
