 <nz-layout>
   <stash-header>
     <button
       nz-button
       nzType="default"
       [nzSize]="'small'"
       nzShape="circle"
       nz-popover
       (nzPopoverVisibleChange)="change($event)"
       [(nzPopoverVisible)]="visible"
       [nzPopoverContent]="contentTemplate"
       nzPopoverTrigger="click">
       <span nz-icon nzType="file-add" nzTheme="outline"></span>
     </button>
   </stash-header>

  <nz-table class="attribute-table" #instanceTable [nzData]="instances" [nzSize]="'small'">
    <thead>
    <tr style="display: none">
      <th nzLeft></th>

      <th nzRight nzWidth="150px"></th>
      <th nzRight nzWidth="30px" ></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instance of instanceTable.data" class="editable-row">
      <td>
        <div class="editable-cell" [hidden]="editId === instance._id" (click)="startEdit(instance._id)">
          ∈ {{ instance.thing?.name }}
        </div>
        <input *ngIf="instance.thing" [hidden]="editId !== instance._id" type="text" nz-input [(ngModel)]="instance.thing.name" (blur)="stopEdit()" />      </td>

      <td>
        <button nz-button nzType="primary" nzDanger [nzSize]="'small'" nzShape="circle" nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(instance._id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>
 <ng-template #contentTemplate>
   <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="createInstance()">
     <nz-form-item>
       <nz-form-control>
         <nz-cascader
           formControlName="targetThing"
           [nzOptions]="nzOptions"
           [nzShowSearch]="true"
           (nzSelect)="onChanges($event)"
         ></nz-cascader>
       </nz-form-control>
     </nz-form-item>
     <nz-form-item>
       <nz-form-control>
         <button nz-button nzType="primary" [disabled]="!validateForm.valid" >Save</button>
       </nz-form-control>
     </nz-form-item>
   </form>
 </ng-template>
